Memoria/*.aux
Memoria/*.txt
Memoria/*.pdf
Memoria/*.gz
Memoria/*.log
Memoria/*/*.aux
Memoria/*/*.txt
Memoria/*/*.pdf
Memoria/*/*.gz
Memoria/*/*.log

Memoria_Ejemplo/*.*
!Memoria_Ejemplo/*.tex
!Memoria_Ejemplo/*/*.tex