<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gonzalo.schoolapp"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlumnoTabActivity"
            android:label="@string/title_activity_alumno_tab" >
        </activity>
        <activity android:name=".AlumnoActivity" />
        <activity android:name=".TeachersActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity
            android:name=".CircularesActivity"
            android:label="@string/title_activity_circulares" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".TeachersTabActivity"
            android:label="@string/title_activity_teachers_tab" >
        </activity>
        <activity
            android:name=".ExpandableTeachersActivity"
            android:label="@string/title_activity_expandable_teachers" >
        </activity>
        <activity
            android:name=".ExpandableFahtersActivity"
            android:label="@string/title_activity_expandable_fahters" >
        </activity>
        <activity
            android:name=".ExpandableAlumnosActivity"
            android:label="@string/title_activity_expandable_alumnos" >
        </activity>
        <activity
            android:name=".FathersTabActivity"
            android:label="@string/title_activity_fathers_tab" >
        </activity>
    </application>

</manifest>
