<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gonzalo.schoolapp"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlumnoTabActivity"
            android:label="@string/title_activity_alumno_tab" >
        </activity>
        <activity android:name=".AlumnoActivity" />
        <activity android:name=".TeachersActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity
            android:name=".CircularesActivity"
            android:label="@string/title_activity_circulares" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".TeachersTabActivity"
            android:label="@string/title_activity_teachers_tab" >
        </activity>
        <activity
            android:name=".ExpandableTeachersActivity"
            android:label="@string/title_activity_expandable_teachers" >
        </activity>
        <activity
            android:name=".ExpandableFahtersActivity"
            android:label="@string/title_activity_expandable_fahters" >
        </activity>
        <activity
            android:name=".ExpandableAlumnosActivity"
            android:label="@string/title_activity_expandable_alumnos" >
        </activity>
        <activity
            android:name=".FathersTabActivity"
            android:label="@string/title_activity_fathers_tab" >
        </activity>
        <activity
            android:name=".FatherExpandableFathersActivity"
            android:label="@string/title_activity_father_expandable_father" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".DataActivity"
            android:label="@string/title_activity_data" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat_2" >
        </activity>
        <activity
            android:name=".MyDataActivity"
            android:label="@string/title_activity_my_data" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".RegisterStudentActivity"
            android:label="@string/title_activity_register_student" >
        </activity>
        <activity
            android:name=".RegisterTeacherActivity"
            android:label="@string/title_activity_register_teacher" >
        </activity>
        <activity
            android:name=".RegisterFatherActivity"
            android:label="@string/title_activity_register_father" >
        </activity>
        <activity
            android:name=".AddChildActivity"
            android:label="@string/title_activity_add_child" >
        </activity>
    </application>

</manifest>
